{% extends 'products/base.html' %}
{% block title %}Tạo đơn hàng{% endblock %}
{% block content %}
<h2>Thông tin đặt hàng</h2>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <h4>Khách hàng</h4>
            {{ customer_form.as_p }}
        </div>
        <div class="col-md-6">
            <h4>Đơn hàng</h4>
            {{ order_form.as_p }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Xác nhận đặt hàng</button>
</form>
<h3 class="mt-4">Giỏ hàng</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.price }}₫</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}₫</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
