{% extends 'products/login_base.html' %}
{% block title %}Đăng nhập | Cosmetic Shop{% endblock %}
{% block content %}
<div class="auth-title">Đăng nhập</div>
<form method="post" autocomplete="off">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="mb-3">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>
    <button type="submit" class="btn btn-auth mb-2">ĐĂNG NHẬP</button>
</form>
<div class="d-flex justify-content-between mb-3">
    <a href="#">Quên mật khẩu?</a>
    <a href="/register/">Đăng ký</a>
</div>
<div class="or-divider">HOẶC</div>
<div class="social-btns mb-2">
    <button type="button"><img src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png" width="20" style="margin-right:8px;vertical-align:middle;"> Facebook</button>
    <button type="button"><img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" width="20" style="margin-right:8px;vertical-align:middle;"> Google</button>
</div>
{% endblock %}
